@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
  scrollbar-color: #58a0c8 #ffffff; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
  &::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 4px; /* высота для горизонтального скролла */
    background-color: #ffffff;
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: #58a0c8;
    border-radius: 2px;
  }
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.container {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0px 10px;
  width: 100%;
}

//header

header {
}

.header__container {
  margin: 0 auto;
}
.header__banner {
  img {
    width: 100%;
    height: 100%;
    height: 90px;
    object-fit: cover;
    @media (max-width: 1100px) {
      height: 60px;
    }
    @media (max-width: 780px) {
      height: 40px;
    }
  }
}

.header__middle {
  background: #efeff7;
  padding: 14px 10px;
  @media (max-width: 580px) {
    display: none;
  }
}
.header__middle__content {
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__middle__left {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 0px;
  &.currency {
    @media (max-width: 580px) {
      display: none;
    }
  }
  &.currency.adapted {
    display: none;
    @media (max-width: 580px) {
      display: block;
    }
    ul {
      flex-direction: row;
    }
  }
  @media (max-width: 580px) {
    margin: 0px 0px 0px 0px;
  }
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 18px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.7);
      p {
        white-space: nowrap;
      }
      svg {
        margin-left: 2px;
      }
      &::before {
        position: absolute;
        content: ".";
        bottom: 0;
        top: -7px;
        left: -11px;
        color: rgba(0, 0, 0, 0.3);
        font-size: 25px;
        @media (max-width: 768px) {
          display: none;
        }
      }
      &:nth-child(1) {
        &::before {
          content: unset;
        }
      }
    }
  }
}

.header__middle__right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header__social {
  display: flex;
  &.adapted {
    display: none;
    @media (max-width: 580px) {
      display: flex;
      margin-top: 10px;
    }
  }
  .social__link {
    display: block;
    img {
      max-width: 32px;
      max-height: 32px;
    }
    margin-right: 6px;
    &:nth-last-child() {
      margin-right: 0;
    }
    transition: all ease 0.3s;

    &:hover {
      transform: translateY(-4px);
    }
  }
  @media (max-width: 580px) {
    display: none;
  }
}
.date__forecast {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 40px;
  @media (max-width: 580px) {
    display: none;
  }
  .date {
    margin-right: 16px;
    white-space: nowrap;
  }
  .forecast {
    white-space: nowrap;
  }

  &.adapted {
    display: none;
    @media (max-width: 580px) {
      display: flex;
    }

    margin-bottom: 13px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__bottom {
  padding: 0px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.header__body {
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 725px) {
    padding: 5px 0px;
  }
}

.header__bottom__left {
  display: flex;
  align-items: center;
}
.header__logo {
  img {
    max-width: 106px;
    max-height: 40px;
  }
  margin-right: 40px;
  @media (max-width: 500px) {
    margin-right: 10px;
  }
}
.header__nav {
  transition: all ease 0.3s;

  scrollbar-color: #58a0c8 #ffffff; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
  &::-webkit-scrollbar {
    width: 3px; /* ширина для вертикального скролла */
    height: 4px; /* высота для горизонтального скролла */
    background-color: #ffffff;
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: #58a0c8;
    border-radius: 2px;
  }
  &.active {
    top: 0;
  }
  @media (max-width: 1200px) {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    top: -100%;
    left: 0;
    overflow-y: scroll;
  }
  ul {
    display: flex;
    align-items: center;
    .drop__down__menu {
      position: relative;
      .toggle__menu {
        position: absolute;
        top: 47px;
        z-index: 3;
        @media (max-width: 1200px) {
          position: unset;
        }
      }
    }
    li {
      .header__link {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #131d2a;
        margin-right: 20px;
        display: block;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 0%;
          background-color: #131d2a;
          height: 1px;
          left: 50%;
          bottom: -1px;
          transition: all ease 0.3s;
        }
        &:hover:after {
          width: 100%;
          left: 0;
        }
        @media (max-width: 1200px) {
          margin-bottom: 5px;
        }
      }
    }
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 1200px) {
    padding: 10px 10px;
  }
  .adapted__logo {
    display: none;
    margin: 0px 14px 0px 0px;
    img {
      max-width: 106px;
      max-height: 40px;
    }
    @media (max-width: 1200px) {
      display: block;
    }
  }
}

.header__bottom__right {
  display: flex;
  align-items: center;
  .search {
    display: flex;
    .search__btn {
      background-color: unset;
      cursor: pointer;
      .fa-search {
        color: rgba(0, 0, 0, 0.3);
        font-size: 17px;
      }
    }
  }
  .search__header__form {
    display: flex;
    align-items: center;
    margin-right: 34px;
    @media (max-width: 500px) {
      margin-right: 0px;
    }
    .search__header {
      display: none;
      padding: 5px 8px;
      max-width: 155px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      margin-right: 5px;
      &.show {
        display: block;
      }
      @media (max-width: 500px) {
        max-width: 103px;
      }
    }
  }
  .apdated__none {
    display: flex;
    align-items: center;
    @media (max-width: 725px) {
      display: none;
    }
  }
}
.apdated__none.modal__live {
  display: none;
  @media (max-width: 725px) {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
}
.live__perfomance__btn {
  background-color: #fa3723;
  opacity: 0.7;
  padding: 24px 24px;
  transition: all ease 0.3s;
  margin-right: 22px;
  &:hover {
    background-color: #e72f1a;
  }
  @media (max-width: 1200px) {
    padding: 15px 20px;
  }
  @media (max-width: 725px) {
    display: flex;
    max-width: 64px;
    max-height: 39px;
    align-items: center;
  }
}
.drop__down__menu {
  .menu__toggle__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #fa3723;
    @media (max-width: 1200px) {
      margin-bottom: 6px;
      font-size: 15px;
    }
    svg {
      margin-left: 5px;
    }
  }
  .toggle__menu {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 30px;
    padding: 20px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.158);
    .row {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 10px;
      row-gap: 20px;
    }
    @media (max-width: 1200px) {
      box-shadow: unset;
      padding: 10px 5px;
    }
    @media (max-width: 550px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.header__modal__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 12px;
  background-color: #ffffff;
  border: 1px solid #58a0c8;
  color: #58a0c8;
  margin-right: 40px;
  transition: all ease 0.3s;
  &.adapted {
    display: none;
    margin-top: 10px;
    @media (max-width: 725px) {
      display: block;
    }
  }
  &:hover {
    border: 1px solid #447b99;
    color: #447b99;
  }
  @media (max-width: 1200px) {
    padding: 8px 10px;
    margin-right: 14px;
  }
}

.toggle__menu__link {
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  color: #131d2a;
  min-width: 95px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 0%;
    background-color: #131d2a;
    height: 1px;
    left: 50%;
    bottom: -4px;
    transition: all ease 0.3s;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 12;
  cursor: pointer;
  margin-left: 20px;
  @media (max-width: 1200px) {
    display: block;
  }
  &.active {
    position: fixed;
    top: 19px;
    right: 10px;
  }
}
.header__burger:before {
  top: 0;
}
.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger span {
  position: absolute;
  background-color: #000000;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger:after {
  bottom: 0;
}
.header__burger.active:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.drop__language {
  position: relative;
}
.drop__language__btn {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
  position: relative;
  padding: 0px 0px 2px 0px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #979797;
  }
}
.drop__language__btn :after {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #979797;
}
.drop__language__content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  padding: 10px 10px 5px 10px;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.158);
  width: 65px;
  top: 22px;
  z-index: 3;
  a {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
    margin-bottom: 5px;
    transition: all ease 0.3s;
    &:hover {
      color: rgba(0, 0, 0, 0.993);
    }
  }
  &.show {
    display: flex;
  }
}

.main__news {
  padding: 16px 0px 0px 0px;
}

.main__news__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
  .left__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    @media (max-width: 768px) {
      column-gap: 10px;
      row-gap: 10px;
    }
    @media (max-width: 560px) {
      grid-template-columns: 1fr;
    }
  }
}
.left__block__news__content {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 288px;
  padding: 12px 12px;
  @media (max-width: 900px) {
    position: unset;
  }
  .info {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    .time {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      margin-right: 8px;
      color: #fa3723;
      @media (max-width: 480px) {
      }
    }
    .speciality {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      margin-right: 14px;
      text-transform: uppercase;

      color: #efeff7;
      @media (max-width: 900px) {
        color: #000000;
      }
    }
    .author {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;

      color: #efeff7;
      @media (max-width: 480px) {
        color: #000000;
      }
    }
  }
}
.left__block__news__content__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 8px;
  max-height: 90px;
  overflow: hidden;
  @media (max-width: 1200px) {
    line-height: 120%;
    max-height: 42px;
  }
  @media (max-width: 900px) {
    color: #000000;
  }
  @media (max-width: 380px) {
    font-size: 14px;
    max-height: 36px;
  }
}
.left__block__news__item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  max-height: 257px;
  a {
    border-radius: 10px;
    overflow: hidden;
  }
  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  a {
    border-radius: 10px;
  }
  .subnews__img {
    transition: all ease 0.3s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    max-width: 318px;
    max-height: 194px;
  }
  &:hover .subnews__img {
    transform: scale(1.08);
  }
  a {
    display: block;
  }
}
.main__news__block {
  position: relative;
  border-radius: 10px;
  max-width: 660px;

  overflow: hidden;
  &.video {
    max-height: 283px;
    @media (max-width: 1011px) {
      max-width: unset;
      margin: 0px 0px 20px 0px;
    }
  }
  .new__img {
    object-fit: cover;
  }
  @media (max-width: 900px) {
    max-width: unset;
    max-height: 543px;
  }
  &:hover .new__img {
    transform: scale(1.08);
  }
  a {
    display: block;
    overflow: hidden;
    border-radius: 10px;
  }
  .new__img {
    transition: all ease 0.3s;
    width: 100%;
    height: 100%;
  }
}
.main__block__content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 23px 23px;
  @media (max-width: 1200px) {
    padding: 23px 11px;
  }
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 135%;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    margin-bottom: 16px;
    max-width: 527px;
    max-height: 113px;
    overflow: hidden;
    @media (max-width: 1200px) {
      line-height: 125%;
      font-size: 18px;
      margin-bottom: 10px;
    }
    @media (max-width: 420px) {
      font-size: 19px;
      margin-bottom: 10px;
    }
  }
  .info {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    @media (max-width: 365px) {
    }
    .time {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      margin-right: 8px;
      color: #fa3723;
    }
    .speciality {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      margin-right: 14px;
      text-transform: uppercase;

      color: #efeff7;
    }
    .author {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;

      color: #efeff7;
    }
  }
  &.video__text {
    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 23px;

      color: #ffffff;
    }
    .longest {
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
      color: #58a0c8;
      .fa-eye {
        margin-right: 4px;
      }
    }
    .time__speciality {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      .time {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;

        margin-right: 7px;

        color: #fa3723;
      }
      .speciality {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;

        /* Gray */

        color: #efeff7;
      }
    }
  }
}

.subnews__block__news {
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
}

.subnews__block__title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #58a0c8;
  margin-bottom: 16px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}
.subnews__block_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 14px;
  position: relative;
  padding: 0px 0px 16px 0px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.subnews__block_content__block {
  position: relative;
  padding: 0px 0px 35px 0px;
  margin: 0px 0px 35px 0px;
  @media (max-width: 1200px) {
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 10px 0px;
  }
  .block__line {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    max-width: 100%;
  }
}
.subnews__content {
  margin-right: 16px;
  width: 75%;
  @media (max-width: 560px) {
    width: 100%;
  }
}
.subnews__block {
  margin: 40px 0px 0px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 560px) {
      flex-direction: column;
    }
  }
}

.tabs__nav {
  display: flex;
  border-bottom: 1px solid #efeff7;
  padding: 0px 0px 8px 0px;
  margin: 0px 0px 9px 0px;
}
.tabs__nav__btn {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  margin-right: 23px;
  &:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    height: 1px;
    width: 0;
    background-color: #131d2a;
    transition: all ease 0.3s;
  }
  &.active {
    color: #131d2a;
    &:after {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #fa3723;
    }
  }
}
.subnews__block__tabs {
  max-width: 282px;
  min-width: 282px;
  margin-bottom: 30px;
  @media (max-width: 700px) {
    max-width: 231px;
    min-width: unset;
  }
  @media (max-width: 560px) {
    max-width: unset;
  }
  .tab {
  }
  .tabs__content {
    max-height: 700px;
    overflow-y: scroll;
    scrollbar-color: #58a0c8 #ffffff; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin; /* толщина */
    &::-webkit-scrollbar {
      width: 2px; /* ширина для вертикального скролла */
      height: 4px; /* высота для горизонтального скролла */
      background-color: #ffffff;
    }

    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
      background-color: #58a0c8;
      border-radius: 2px;
    }
    @media (max-width: 1100px) {
      max-height: 471px;
    }
  }
}
.tabs__item {
  display: none;
  &.active {
    display: block;
  }
}

.tabs__item__text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  padding: 0px 5px 15px 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #efeff7;
  .tabs__item__time {
    color: #fa3723;
    margin-right: 3px;
  }
  max-height: 70px;
  overflow: hidden;
}

.subnews__block {
  .left__block__news__item {
    max-width: unset;
  }
}

.tabs__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #58a0c8;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 26px;
  .svg__tab {
    margin-left: 25px;
    transition: all ease 0.3s;
    &.section {
      margin-left: 9px;
    }
  }
  &:hover .svg__tab {
    transform: translateX(5px);
  }
}

.video__news__left {
  display: flex;
  width: 100%;
  margin-right: 35px;
  position: relative;
  padding: 0px 0px 35px 0px;
  margin-bottom: 35px;
  @media (max-width: 1011px) {
    flex-direction: column;
  }
  @media (max-width: 800px) {
    padding: 0px 0px 29px 0px;
    margin-bottom: 22px;
  }
  .block__line {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
  }
  .info {
    .photo__icon {
      margin-right: 5px;
      color: #fa3723;
      font-size: 14px;
    }
  }
}
//video__block

.video__subnews__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  @media (max-width: 620px) {
    grid-template-columns: 1fr;
  }
  .item {
    max-width: 196px;
    @media (max-width: 1011px) {
      display: flex;
      max-width: unset;
    }
    a {
      display: block;
      border-radius: 10px;
    }
    .item__img__block {
      max-width: 196px;
      max-height: 120px;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 6px;
      @media (max-width: 1011px) {
        margin: 0px 10px 0px 0px;
      }
    }
    .item__img {
      max-width: 196px;
      object-fit: cover;
      border-radius: 10px;
      transition: all ease 0.3s;
    }
    &:hover .item__img {
      transform: scale(1.1);
    }
  }
  .item__content {
    .time__speciality {
      display: flex;
      .time {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        margin-right: 4px;
        color: #fa3723;
      }
      .speciality {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-transform: uppercase;

        /* Blue */

        color: #58a0c8;
      }
    }

    .main__text {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 130%;
      margin-bottom: 8px;
      max-width: 196px;
      max-height: 47px;
      overflow: hidden;
      color: #131d2a;
    }
    .longest {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
      color: #58a0c8;

      .fa-eye {
        margin-right: 4px;
      }
    }
  }
}

.video__news__title__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  max-width: 937px;
  .tabs__link {
    margin: 0px 0px 0px 0px;
  }
}
.video__news__title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #58a0c8;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.video__news__container {
  display: flex;
  justify-content: space-between;
  .main__news__block {
    margin-right: 22px;
    @media (max-width: 1011px) {
      margin-right: 0;
    }
  }
  .left__block {
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  @media (max-width: 800px) {
    flex-direction: column;
  }
  .amount__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    display: flex;
    align-items: center;

    /* red */

    color: #fa3723;
  }
}

.video__news__right {
  margin-bottom: 20px;
  width: 22%;
  @media (max-width: 900px) {
    width: 100%;
  }
  &.adapted__none {
    @media (max-width: 800px) {
      display: none;
    }
  }
  &.adapted__appear {
    display: none;
    @media (max-width: 800px) {
      display: block;
    }
  }
  @media (max-width: 800px) {
    width: 100%;
  }
}
.video__news__right__content {
  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  @media (max-width: 450px) {
    grid-template-columns: 1fr;
  }
}
.video__news__right__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #000000;
}
.video__news__right__item {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #efeff7;
  padding: 0px 0px 15px 0px;
  img {
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: 15px;
  }
  .name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #131d2a;
    max-height: 60px;
    overflow: hidden;
  }
}

footer {
  background-color: #efeff7;
  padding: 37px 0px 20px 0px;
  @media (max-width: 768px) {
    padding: 23px 0px 20px 0px;
  }
}

.footer__up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 18px;
  }
}
.footer__up__left {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .logo {
    max-width: 106px;
    max-height: 40px;
    margin-right: 40px;
    @media (max-width: 768px) {
      margin: 0px 0px 10px 0px;
    }
  }
}

.footer__nav {
  ul {
    display: flex;
    @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;
    }
    li {
      margin-right: 20px;
      @media (max-width: 500px) {
        margin: 0px 0px 7px 0px;
      }
      .footer__link {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;

        /* Dark blue */

        color: #131d2a;
      }
    }
  }
}
.footer__up__right {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: center;
  }
  ul {
    display: flex;
    li {
      margin-left: 20px;
      @media (max-width: 768px) {
        margin: 0px 15px 0px 0px;
      }
      .other__link {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #58a0c8;
        transition: all ease 0.3s;
        &:hover {
          color: #4180a2;
        }
      }
    }
  }
  .social__links {
    display: flex;
    align-items: center;
  }
  .social__links__item {
    margin-left: 5px;
    display: block;
    transition: all ease 0.3s;
    &:hover {
      transform: translateY(-3px);
    }
  }
}
.footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}
.footer__middle__left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 5px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 15px;
  }
  a {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    @media (max-width: 768px) {
      margin-bottom: 5px;
    }
    span {
      color: #58a0c8;
      margin-left: 2px;
    }
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.footer__bottom__left {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  .text {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.4);
    @media (max-width: 768px) {
      line-height: 18px;
    }
    &.left {
      max-width: 468px;
      margin-right: 145px;
      @media (max-width: 1200px) {
        margin-right: 20px;
      }
      @media (max-width: 768px) {
        margin: 0px 0px 7px 0px;
        text-align: center;
      }
    }
    &.right {
      max-width: 300px;
      margin-right: 15px;
      @media (max-width: 768px) {
        margin: 0px 0px 7px 0px;
        text-align: center;
      }
      span {
        color: #58a0c8;
      }
    }
  }
}
.footer__bottom__right {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    text-align: center;
  }
  .bs_logo {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.4);
  }
}

.tabs__content2 {
  .tabs__item2 {
    display: none;
    &.active {
      display: block;
    }
  }
  max-height: 720px;
}

.tabs__nav2 {
  display: flex;
  margin-bottom: 15px;
  .tabs__nav__btn2 {
    background-color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 5px;
    padding: 2px 5px;
    &.active {
      border: 1px solid #fa3723;
      color: #000000;
    }
  }
}

.tabs__item2__block {
  display: flex;
  border-bottom: 1px solid #efeff7;
  padding: 0px 0px 9px 0px;
  margin: 0px 0px 15px 0px;
  img {
    max-width: 86px;
    max-width: 86px;
    max-height: 60px;
    min-height: 60px;
    margin-right: 7px;
  }
  .content {
    .text {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      color: #000000;
      margin-bottom: 15px;
      max-height: 40px;
      max-width: 182px;
      overflow: hidden;
      @media (max-width: 560px) {
        max-width: unset;
      }
    }
    .info {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      white-space: nowrap;
      .time {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;

        /* Blue */

        color: #58a0c8;
        margin-right: 10px;
      }
      .play {
        margin-right: 4px;
      }
      .longest {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        color: rgba(0, 0, 0, 0.3);
        margin-right: 10px;
      }
      .earpods {
        margin-right: 4px;
      }
      .amount {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        color: #58a0c8;
      }
    }
  }
}

header {
  .logo__live {
    display: flex;
    margin: 0px 0px 0px 0px;
    justify-content: space-between;
    padding: 0px 40px 0px 0px;
  }
}
.fas.fa-eye.photo__icon {
  color: #fa3723;
}

.video__news__blocks__author {
  .container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  .video__news__blocks {
    width: 80%;
    margin-right: 15px;
    @media (max-width: 900px) {
      width: 100%;
    }
  }
}
